<div class="app-wrapper">
  <section class="material-matter">
    <div class="material-matter-background">
      <img src="img/material-matters-bg.png" />
    </div>
    <div class="material-text-mobile-width">
      <div class="wrapper">
        <div class="main-container">
          <div class="ui column container grid">
            <div class="sixteen wide column">
              <h1>{{ info.title }}</h1>
              <p>{{ info.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="material-matter-background-mobile-width">
        <div class="mobile-bg">
          <img src="img/material-matters-mobile.png" />
        </div>

        <ul>
          <li>
            <img src="img/chinese-bamboo.png" />
            <div class="title">Bamboo</div>
            <div class="description">Fibre Compound</div>
          </li>
          <li class="melamine-description">
            <div class="persent">100%</div>
            <div class="melamine">Melamine</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="material-text">
      <div class="wrapper">
        <div class="main-container">
          <div class="ui column container grid">
            <div class="six wide column">
              <h1>{{ info.title }}</h1>
              <p>{{ info.description }}</p>
              <ul>
                <li>
                  <img src="img/chinese-bamboo.png" />
                  <div class="title">Bamboo</div>
                  <div class="description">Fibre Compound</div>
                </li>
                <li class="melamine-description">
                  <div class="persent">100%</div>
                  <div class="melamine">Melamine</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
