<div class="app-wrapper">
  <div class="poster-dinnerwares-mealtime" ng-show="activeView === 'melamine'">
    <img class="melamine-desktop" src="img/poster-melamine-bg.png" />
    <div class="wrapper">
      <div class="main-container">
        <div class="poster-desktop">
          <div class="title">
            <h1>100% Melamine</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="type-bottle">
        <img src="img/poster-mobile-dinnerwares.png" />
      </div>
      <div class="title">
        <h1>100% Melamine</h1>
      </div>
    </div>
  </div>

  <div class="poster-dinnerwares-bamboo-fibre" ng-show="activeView === 'bambooFibre'">
    <img class="bambo-fibre-desktop" src="img/poster-bamboo-fibre.png" />
    <div class="wrapper">
      <div class="main-container">
        <div class="poster-desktop">
          
          <div class="title">
            <h1>Bamboo Fibre</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="type-bottle">
        <img src="img/poster-bamboo-fibre-mobile.png" />
      </div>
      <div class="title">
        <h1>Bamboo Fibre</h1>
      </div>
    </div>
  </div>
</div>
