<div class="app-wrapper">
    <div class="classic-sipper-bottle-spider">
        <div class="classic-sipper-bottle-spider__wrapper">
            <div class="classic-sipper-bottle-spider__wrapper_img">
                <img src="/img/spiderman-bottle.png" alt="">
            </div>
            <div class="classic-sipper-bottle-spider__wrapper_text">
                <p class="classic-sipper-bottle-spider__wrapper_text_title">Classic Sipper</p>
                <p class="classic-sipper-bottle-spider__wrapper_text_under-title">
                    Tiny-weeny tots version of our top selling sipper bottle. <br>
                    Everything you like in a compact form.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
        </div>
    </div>
    <div class="classic-sipper-bottle-spider__wrapper_text tablet">
        <p class="classic-sipper-bottle-spider__wrapper_text_title">Classic Sipper Bottle</p>
        <p class="classic-sipper-bottle-spider__wrapper_text_under-title">
            Tiny-weeny tots version of our top selling sipper bottle. <br>
Everything you like in a compact form.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>