.classic-sipper-bottle-spider {
  background: url("/img/spider-desktop-bg.png") no-repeat center;
  margin-bottom: 20px;
  @media screen and (max-width: 768px){
    margin-bottom: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    &_img {
      display: flex;
      align-items: center;
      max-width: 827px;
      width: 100%;
      padding-top: 15px;
      @media screen and (max-width: 768px){
        max-width: 490px;
      }
      @media screen and (max-width: 575px){
        max-width: 375px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    &_text {
      position: relative;
      left: -13px;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 550px;
      width: 100%;
      margin-left: -55px;
      padding: 244px 0 133px;
      text-align: left;

      &:not(.tablet) {
        max-width: inherit;
        @media screen and (max-width: 768px) {
          .classic-sipper-bottle-spider__wrapper_text_under-title, .shop-now {
            display: none;
          }
          .classic-sipper-bottle-spider__wrapper_text_title {
            max-width: 245px;
            padding: 0;
          }
        }
        @media screen and (max-width: 575px) {
          display: none;
        }
      }

      &.tablet {
        display: none;
        @media screen and (max-width: 768px) {
          display: flex;
          max-width: 100% ;
          left: 0;
          margin: 0 0 20px 0;
          padding: 0 50px;
          .classic-sipper-bottle-spider__wrapper_text_title {
            display: none;
          }
          .classic-sipper-bottle-spider__wrapper_text_under-title {
            padding: 0;
            text-align: center;
            margin-bottom: 30px;
          }
          .classic-sipper-bottle-spider__wrapper_text_under-title .shop-now {
            display: block;
          }
        }
        @media screen and (max-width: 575px) {
          .classic-sipper-bottle-spider__wrapper_text_title,
          .classic-sipper-bottle-spider__wrapper_text_under-title {
            display: block;
          }
        }
      }

      &_title {
        position: relative;
        font-family: Affogato;
        font-weight: 900;
        font-size: 26.2px;
        line-height: 55px;
        color: #000;
        margin-bottom: 0;
        margin-left: -190px;

        @include breakpoint(sm) {
          margin-bottom: 15px;
          font-size: 60px;
          line-height: 55px;
        }

        &:before {
          content: "";
          position: absolute;
          right: -73px;
          bottom: 73px;
          width: 73px;
          height: 83px;
          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }
      @media (min-width: 320px) and (max-width: 575px) {
        &_title{
          margin-left: 0;
        }
      }
      &_under-title {
        font-family: Oduda;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #000;
        margin-bottom: 8px;
        br {
          @media screen and (max-width: 768px){
            display: none;
          }
        }
        @include breakpoint(md) {
          margin-bottom: 30px;
        }
        @include breakpoint(sm) {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 115px;
          text-align: left;
        }

      }
      .shop-now {
        @include breakpoint(sm) {
          margin-right: 33px;
        }
        @include shopNow();
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) { 
  .classic-sipper-bottle-spider__wrapper_img{
    margin-left: 60px;
  }
  .classic-sipper-bottle-spider__wrapper_text:not(.tablet) .classic-sipper-bottle-spider__wrapper_text_title {
    margin-left: 100px;
    margin-top: -50px;
  }
}