<div class="customer-nav">
  <div class="customer-nav-title">Customer Support</div>
  <div class="customer-nav-list">
    <a class="customer-nav-item"
       href="/account-order-member.html"
       data-ng-class="{ selected: $ctrl.selectedLink === 'account' }">Accounts & Order History</a>
    <a class="customer-nav-item"
       href="/referrals.html"
       data-ng-class="{ selected: $ctrl.selectedLink === 'referrals' }">Kidztime Referrals</a>
    <a class="customer-nav-item"
       href="/benefits.html"
       data-ng-class="{ selected: $ctrl.selectedLink === 'benefits' }">Kidztime Benefits</a>
    <a class="customer-nav-item"
       href="/contact-us-faq.html"
       data-ng-class="{ selected: $ctrl.selectedLink === 'FAQ' }">Contact Us & FAQ</a>
  </div>
</div>
