<div class="app-wrapper">
    <div class="melamine-dinnerwares">
        <div class="melamine-dinnerwares__wrapper">
            <div class="melamine-dinnerwares__wrapper_boy">
                <img src="/img/melamine-dinnerwares-boy.png" alt="">
            </div>
            <div class="melamine-dinnerwares__wrapper_text">
                <p class="melamine-dinnerwares__wrapper_text_title">
                    MELAMINE DINNERWARES
                </p>
                <p class="melamine-dinnerwares__wrapper_text_under-title">
                    Tough, break-resistant & shatterfree. <br>
                    Basically the toughest pretty plate in town.
                    Comes in bowl, plates, cups & cutlerys
                </p>
                <a href="#" class="shop-now">Shop now</a>
            </div>
            <div class="melamine-dinnerwares__wrapper_cup">
                <img src="/img/melamine-dinnerwares-cup.png" alt="">
            </div>
        </div>
    </div>

    <div class="melamine-dinnerwares__wrapper_text tablet">
        <p class="melamine-dinnerwares__wrapper_text_title">
            MELAMINE DINNERWARES
        </p>
        <p class="melamine-dinnerwares__wrapper_text_under-title">
            Tough, break-resistant & shatterfree. <br>
            Basically the toughest pretty plate in town.
            Comes in bowl, plates, cups & cutlerys
        </p>
        <a href="#" class="shop-now">Shop now</a>
    </div>
</div>
