<div class="app-wrapper">
    <div class="eco-dinnerwares">
        <div class="eco-dinnerwares__wrapper">
            <div class="eco-dinnerwares__wrapper_img">
                <img src="/img/eco-dinnerwares.png" alt="">
            </div>
            <div class="eco-dinnerwares__wrapper_img tablet">
                <img src="/img/eco-dinnerwares-tablet.png" alt="">
            </div>
            <div class="eco-dinnerwares__wrapper_text">
                <p class="eco-dinnerwares__wrapper_text_title">ECO DINNERWARES</p>
                <p class="eco-dinnerwares__wrapper_text_under-title">
                    Natural, renewable and sustainable. <br>
                    Not just a regular pretty plate.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
        </div>
    </div>

    <div class="eco-dinnerwares__wrapper_text tablet">
        <p class="eco-dinnerwares__wrapper_text_title">ECO DINNERWARES</p>
        <p class="eco-dinnerwares__wrapper_text_under-title">
            Natural, renewable and sustainable. <br>
            Not just a regular pretty plate.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
