<div class="app-wrapper">
  <div class="poster-did-you-know">
    <div class="wrapper">
      <div class="main-container">
        <div class="poster-desktop">
          <div class="poster-img">
            <img src="img/poster-img-did-you-know.png" />
          </div>
          <div class="title">
            <img src="img/img-did-you-know.png" />
            <h1>Kids should only carry 10-15% of their body weight.</h1>
            <p>
              Heavy backpack strains muscle, joints and create bad posture,
              leading to pains and injuries lasting till adulthood. That is why
              Kidztime AIR backpacks are made using <b>hybrid polymer fabric</b> to
              yield a backpack that is ergonomic yet 30% lighter
            </p>
          </div>

        </div>
        <div class="air-backpacks">
            <h2>Kidztime AIR Backpacks Specifications</h2>
            <div class="backpacks-description">
              <div class="description">
                <img src="img/icon-air1.png" />
                <div>
                  <h4>Up to 30% Lighter</h4>
                  <h4>than an ergonomic</h4>
                  <h4>backpack</h4>
                </div>
              </div>
              <div class="description">
                <img src="img/icon-air2.png" />
                <h4>Less than 600g</h4>
              </div>
              <div class="description">
                <img src="img/icon-air3.png" />
                <div>
                  <h4>Hybrid polymer</h4>
                  <h4>fabric</h4>
                </div>
              </div>
              <div class="description">
                <img src="img/icon-air4.png" />
                <h4>Waterproofed</h4>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="title">
        <img src="img/img-did-you-know.png" />
        <h1>Kids should only carry 10-15% of their body weight?</h1>
        <p>
          Kidztime AIr backpack are made up to 30% lighter through the use of
          ultra-lightweight constructions & material.
        </p>
      </div>
      <div class="poster-img">
        <img class="desktop" src="img/poster-img-did-you-know.png" />
        <img class="mobile" src="img/poster-img-did-you-know-mobile.png" />
      </div>
      <div class="air-backpacks-mobile">
        <h2>Kidztime AIR Backpacks Specifications</h2>
        <div class="backpacks-description">
          <div class="description-group">
            <div class="description">
              <img src="img/icon-air1.png" />
              <div>
                <h4>Up to 30% Lighter</h4>
                <h4>than an ergonomic</h4>
                <h4>backpack</h4>
              </div>
            </div>
            <div class="description">
              <img src="img/icon-air2.png" />
              <h4>Less than 600g</h4>
            </div>
          </div>
          <div class="description-group">
            <div class="description">
              <img src="img/icon-air3.png" />
              <div>
                <h4>Hybrid polymer</h4>
                <h4>fabric</h4>
              </div>
            </div>
            <div class="description">
              <img src="img/icon-air4.png" />
              <h4>Waterproofed</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
