<div class="app-wrapper">
    <div class="sports-bottles">
        <div class="sports-bottles__wrapper">
            <div class="sports-bottles__wrapper_text">
                <p class="sports-bottles__wrapper_text_under-title">
                    Sporty Grip And <br>
                    With Interchangeable <br>
                    Nozzle Or Straw Cap, <br>
                    This Is The Bottle <br>
                    For Champions.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
            <div class="sports-bottles__wrapper_img">
                <img src="/img/little-champion.png" alt="">
            </div>
        </div>
    </div>
    <div class="sports-bottles__wrapper_text tablet">
        <p class="sports-bottles__wrapper_text_title">SPORTS BOTTLES</p>
        <p class="sports-bottles__wrapper_text_under-title">
            Sporty Grip And <br>
            With Interchangeable <br>
            Nozzle Or Straw Cap, <br>
            This Is The Bottle <br>
            For Champions.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
