<div class="app-wrapper">
    <div class="classic-sipper-bottle">
        <div class="classic-sipper-bottle__wrapper">
            <div class="classic-sipper-bottle__wrapper_text" id="tablet-content">
                <p class="classic-sipper-bottle__wrapper_text_title">Classic Sipper</p>
                <p class="classic-sipper-bottle__wrapper_text_under-title">
                    Our top selling classic sipper model <br>
                    not to mention your little one's 'Big kid cup'.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
            <div class="classic-sipper-bottle__wrapper_img">
                <img src="/img/classic-sipper-bottle.png" alt="">
            </div>
        </div>
    </div>

    <div class="classic-sipper-bottle__wrapper_text tablet">
        <p class="classic-sipper-bottle__wrapper_text_title">Classic Sipper Bottle</p>
        <p class="classic-sipper-bottle__wrapper_text_under-title">
            Our top selling classic sipper model <br>
            not to mention your little one's 'Big kid cup'.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
