<div class="app-wrapper">
    <div class="stainless-steel-nozzles">
        <div class="stainless-steel-nozzles__wrapper">
            <div class="stainless-steel-nozzles__wrapper_img">
                <img src="/img/stainless-steel-nozzles.png" alt="">
            </div>
            <div class="stainless-steel-nozzles__wrapper_img mobile">
                <img src="/img/stainless-steel-nozzles-mobile.png" alt="">
            </div>
            <div class="stainless-steel-nozzles__wrapper_text">
                <p class="stainless-steel-nozzles__wrapper_text_title">
                    STAINLESS STEEL
                    NOZZLES
                </p>
                <p class="stainless-steel-nozzles__wrapper_text_under-title">
                    Tough as steel. <br>
                    The toughest bottle agaist all rough & tumble
                </p>
                <div class="stainless-steel-nozzles__wrapper_text_under-title_img">
                    <img src="/img/stainless-steel-nozzles-icons.png" alt="">
                    <p class="shop-now">Shop now</p>
                </div>
            </div>
        </div>
    </div>

    <div class="stainless-steel-nozzles__wrapper_text tablet">
        <p class="stainless-steel-nozzles__wrapper_text_title">
            STAINLESS STEEL
            NOZZLES
        </p>
        <p class="stainless-steel-nozzles__wrapper_text_under-title">
            Tough as steel. <br>
            The toughest bottle agaist all rough & tumble
        </p>
        <p class="shop-now">Shop now</p>
    </div>
</div>
