<div class="app-wrapper">
    <div class="bamboo-sipper-bottle">
        <div class="bamboo-sipper-bottle__wrapper">
            <div class="bamboo-sipper-bottle__wrapper_text" id="tablet-content">
                <p class="bamboo-sipper-bottle__wrapper_text_title">BAMBOO SIPPERS</p>
                <p class="bamboo-sipper-bottle__wrapper_text_under-title">
                    Go green with our bamboo sipper.<br>
Along with the anti-bacterial property of bamboo,<br>
truly a bottle of the future.<br>
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
            <div class="bamboo-sipper-bottle__wrapper_img">
                <img src="/img/bamboo-sipper-bottle.png" alt="">
            </div>
        </div>
    </div>

    <div class="bamboo-sipper-bottle__wrapper_text tablet">
        <p class="bamboo-sipper-bottle__wrapper_text_title">BAMBOO SIPPERS</p>
        <p class="bamboo-sipper-bottle__wrapper_text_under-title">
            Go green with our bamboo sipper.<br>
Along with the anti-bacterial property of bamboo,<br>
truly a bottle of the future.<br>
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
