<div class="app-wrapper">
    <div class="kidz-time-accessories">
        <div class="kidz-time-accessories__wrapper">
            <div class="kidz-time-accessories__wrapper_img">
                <img src="/img/kidz-time-accessories.png" alt="">
            </div>

            <div class="kidz-time-accessories__wrapper_text">
                <p class="kidz-time-accessories__wrapper_text_title">
                    KIDZTIME
                    ACCESSORIES
                </p>
                <p class="kidz-time-accessories__wrapper_text_under-title">
                    Wallet, pouches and other
                    kids accessories for the go
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
        </div>
    </div>
    <div class="kidz-time-accessories__wrapper_text tablet">
        <p class="kidz-time-accessories__wrapper_text_title">
            KIDZTIME
            ACCESSORIES
        </p>
        <p class="kidz-time-accessories__wrapper_text_under-title">
            Wallet, pouches and other
            kids accessories for the go
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
