<div class="app-wrapper">
    <div class="activity-kits">
        <div class="activity-kits__wrapper">
            <div class="activity-kits__wrapper_img">
                <img src="/img/activity-kits.png" alt="">
            </div>
            <div class="activity-kits__wrapper_text">
                <p class="activity-kits__wrapper_text_title">ACTIVITY KITS</p>
                <p class="activity-kits__wrapper_text_under-title">
                    Keep your energtic kids in check during road trips
                    or excursions with our jumbo & pocket activity kits
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
        </div>
    </div>
    <div class="activity-kits__wrapper_text tablet">
        <p class="activity-kits__wrapper_text_title">ACTIVITY KITS</p>
        <p class="activity-kits__wrapper_text_under-title">
            Keep your energtic kids in check during road trips
            or excursions with our jumbo & pocket activity kits
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
