<div class="app-wrapper">
    <div class="kidztime-air">
        <div class="kidztime-air__wrapper">
            <div class="kidztime-air__wrapper_text">
                <p class="kidztime-air__wrapper_text_title">KIDZTIME AIR</p>
                <p class="kidztime-air__wrapper_text_under-title">
                    Lightweight, waterproofed backpacks,
                    perfectly suited for the classroom, <br>
                    the pool & even hiking with mom and dad.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
            <div class="kidztime-air__wrapper_img">
                <img src="/img/kidztime-air.png" alt="">
            </div>
        </div>
    </div>

    <div class="kidztime-air__wrapper_text tablet">
        <p class="kidztime-air__wrapper_text_title">KIDZTIME AIR</p>
        <p class="kidztime-air__wrapper_text_under-title">
            Lightweight, waterproofed backpacks,
            perfectly suited for the classroom, <br>
            the pool & even hiking with mom and dad.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
