<div class="app-wrapper">
    <div class="colorem-sippers">
        <div class="colorem-sippers__wrapper">
            <div class="colorem-sippers__wrapper_text">
                <p class="title">COLOR’EM SIPPERS</p>
                <p class="under-title">
                    Spruce up your sipper bottle with our DIY inserts! <br>
                    Color, doodle and decorate <br>
                    up your own special sipper today.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
            <div class="colorem-sippers__wrapper_right-bar">
                <img src="/img/color-em.png" alt="">
            </div>
        </div>
    </div>

    <div class="colorem-sippers__wrapper_text tablet">
        <p class="title">COLOR’EM SIPPERS</p>
        <p class="under-title">
            Spruce up your sipper bottle with our DIY inserts! <br>
            Color, doodle and decorate <br>
            up your own special sipper today.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>