<div class="app-wrapper">
  <div class="poster-sport-bottle" ng-show="activeView === 'sport'">
    <div class="wrapper">
      <div class="main-container">
        <div class="poster-desktop">
          <div class="title">
            <h1>Little Champion Sports Bottles</h1>
          </div>
          <div class="type-bottle">
            <div class="circle">
              <img src="img/poster-bottle.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
        <img src="img/poster-sport-bottle.png" />
      <div class="title">
        <h1>Little Champion Sports</h1>
      </div>
    </div>
  </div>

  <div class="classic-nozzle-bottle" ng-show="activeView === 'nozzle'">
    <div class="wrapper">
      <img class="poster-nozzle" src="img/poster-nozzle-bottle.png">
      <div class="main-container">
        <div class="poster-desktop">
          <div class="title">
            <h1>Classic Nozzle</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="type-bottle">
        <img src="img/poster-nozzle-bottle-mobile.png" />
      </div>
      <div class="title">
        <h1>Classic Nozzle</h1>
      </div>
    </div>
  </div>

  <div class="classic-sipper-bottle" ng-show="activeView === 'sipper'">
    <div class="wrapper">
      <img class="poster-sipper" src="img/poster-sipper-bottle.png">
      <div class="main-container">
        <div class="poster-desktop">
          <div class="title">
            <h1>Classic Sipper</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="type-bottle">
        <img src="img/poster-sipper-bottle-mobile.png" />
      </div>
      <div class="title">
        <h1>Classic Sipper</h1>
      </div>
    </div>
  </div>
</div>
