<div class="app-wrapper">
  <div class="poster-plug-play">
    <div class="wrapper">
      <div class="main-container">
        <div class="ul-component">
          <img src="img/ui-element-fly.png" />
        </div>

        <div class="poster-desktop">
          <div class="title">
            <img src="img/plug-play-img1.png" />
            <h1>PLUG & PLAY WITH <br>KIDZTIME POWER-UPS</h1>
            <p>
              Be able to customize your kid’s backpack with KIDZTIME’s modular
              Power-up Accessories
            </p>
          </div>
          <div class="poster-img">
            <img src="img/plug-play-img.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="title">
        <div>
          <h1>PLUG & PLAY</h1>
          <h3>WITH KIDZTIME POWER-UPS</h3>
        </div>
        <img src="img/plug-play-img1.png" />
      </div>
      <div class="poster-img">
        <img src="img/plug-play-img.png" />
      </div>
      <p>
        Be able to customize your kid’s backpack with Kidztime’s modular
        power-up accesories!
      </p>
    </div>
  </div>
</div>
