<div class="app-wrapper">
    <section class="fda-food">
        <div class="fda-background">
            <img src="img/fda-food.png" />
        </div>
        <div class="fda-description">
            <div class="wrapper">
                <div class="main-container">
                    <div class="ui column container grid">
                        <div class="nine wide column"></div>
                        <div class="six wide column material-text">
                            <h1>{{info.title}}</h1>
                            <p>{{info.description}}</p>
                            <img src="img/bitmap.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fda-description-mobile">
            <div class="wrapper">
                <div class="main-container">
                    <div class="ui column container grid">
                        <div class="nine wide column"></div>
                        <div class="sixteen wide column material-text">
                            <h1>{{info.title}}</h1>
                            <p>{{info.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fda-background-mobile">
                <img src="img/fda-food-mobile.png" />
            </div>
        </div>
    </section>
</div>
