<div class="app-wrapper">
  <section
    class="product-recommend-age-sport-desktop"
    ng-show="activeView === 'sport'"
  >
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <img src="img/sport-bottle-recommend-age.png" />
            <div class="assurance-text">
              <h3>Kidztime LITTLE CHAMPION SPORTS BOTTLE</h3>
              <h2>Recommend Age:</h2>
              <h2><span>6-8</span>yrs old</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="product-recommend-age-sport-mobile"
    ng-show="activeView === 'sport'"
  >
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <div class="assurance-text">
              <h3>Kidztime LITTLE CHAMPION</h3>
              <h2>Recommend Age</h2>
              <h2>:<span>6-8</span> yrs old</h2>
            </div>
            <img src="img/sport-bottle-recommend-age-mobile.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="product-recommend-age-sipper-desktop"
    ng-show="activeView === 'sipper'"
  >
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <img src="img/sipper-bottle-recommend-age.png" />
            <div class="assurance-text">
              <h3>Kidztime Classic Sipper</h3>
              <h2>Recommend Age:</h2>
              <h2><span>2-5</span> yrs old</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="product-recommend-age-sipper-mobile"
    ng-show="activeView === 'sipper'"
  >
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <div class="assurance-text">
              <h3>Kidztime Classic Sipper</h3>
              <h2>Recommend Age</h2>
              <h2>:<span>2-5</span>yrs old</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="img/sipper-bottle-recommend-age-mobile.png" />
  </section>

  <section
    class="product-recommend-age-nozzle-desktop"
    ng-show="activeView === 'nozzle'"
  >
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <img src="img/nozzle-bottle-recommend-age.png" />
            <div class="assurance-text">
              <h3>Kidztime Classic Nozzles</h3>
              <h2>Recommend Age:</h2>
              <h2><span>5-7</span>Years Old</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="product-recommend-age-nozzle-mobile"
    ng-show="activeView === 'nozzle'"
  >
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <div class="assurance-text">
              <h3>Kidztime Classic nozzle</h3>
              <h2>Recommend Age</h2>
              <h2>:<span>6-8</span>yrs old</h2>
            </div>
            <img src="img/nozzle-bottle-recommend-age-mobile.png.png.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
