.product-recommend-age-sport-desktop {
  margin-bottom: 78px;
  text-align: center;
  position: relative;
  display: none;
  @include breakpoint(md) {
    display: block;
  }
  img {
    width: 100%;
    padding-left: 33.8%;
    padding-right: 6%;
    padding-top: 50px;
  }
  .assurance-text {
    padding-left: 15px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 68%;
    @include breakpoint(xl) {
      right: 60%;
    }
    h3 {
      font-family: "Affogato";
      color: #df4f6b;
      font-size: 26px;
      line-height: 35px;
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
      margin-bottom: -10px;
    }
    h2 {
      font-family: "Affogato";
      color: #006fcf;
      text-align: left;
      font-weight: 900;
      line-height: 30px;
      font-size: 40px;
      text-align: right;
      @include breakpoint(lg) {
        line-height: 48px;
        font-size: 50px;
      }
    }
    span {
      background-color: #dfebfe;
      padding: 0px 15px;
      border-radius: 10px;
    }
  }
}

.product-recommend-age-sport-mobile {
  margin-bottom: 78px;
  text-align: center;
  margin: 0 10px;
  @include breakpoint(md) {
    display: none;
  }
  img {
    width: 100%;
    margin-bottom: 85px;
  }
  .assurance-text {
    text-align: left;
    h3 {
      color: #df4f6b;
      font-family: "Affogato";
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      color: #2376d9;
      font-family: "Affogato";
      font-size: 30px;
      font-weight: 900;
      line-height: 40px;
      margin: 0;
      
    }
    span {
      background-color: #dfebfe;
      padding: 0px 5px;
      border-radius: 5px;
    }
  }
}

.product-recommend-age-sipper-desktop {
  margin-bottom: 25px;
  text-align: center;
  position: relative;
  display: none;
  @include breakpoint(md) {
    display: block;
  }
  img {
    width: 100%;
    padding-left: 33.8%;
    padding-right: 6%;
    padding-top: 50px;
  }
  .assurance-text {
    padding-left: 15px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 68%;
    @include breakpoint(lg) {
      right: 64.5%;
    }
    h3 {
      font-family: "Affogato";
      color: #df4f6b;
      font-size: 26px;
      line-height: 35px;
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
      margin-bottom: -10px;
    }
    h2 {
      font-family: "Affogato";
      color: #006fcf;
      text-align: left;
      font-weight: 900;
      line-height: 30px;
      font-size: 40px;
      text-align: right;
      @include breakpoint(lg) {
        line-height: 48px;
        font-size: 50px;
      }
    }
    span {
      background-color: #dfebfe;
      padding: 0px 5px;
      border-radius: 10px;
    }
  }
}

.product-recommend-age-sipper-mobile {
  margin-bottom: 78px;
  text-align: center;
  margin: 0 10px;
  @include breakpoint(md) {
    display: none;
  }
  img {
    width: 106%;
    margin-right: -16px;
    margin-left: -18px;
    margin-bottom: 60px;
  }
  .assurance-text {
    text-align: left;
    h3 {
      color: #df4f6b;
      font-family: "Affogato";
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      color: #2376d9;
      font-family: "Affogato";
      font-size: 30px;
      font-weight: 900;
      line-height: 40px;
      margin: 0;
      
    }
    span {
      background-color: #dfebfe;
      padding: 0px 5px;
      border-radius: 5px;
    }
  }
}

.product-recommend-age-nozzle-desktop {
  margin-bottom: 35px;
  text-align: center;
  position: relative;
  display: none;
  @include breakpoint(md) {
    display: block;
  }
  img {
    width: 100%;
    padding-left: 33.8%;
    padding-right: 6%;
    padding-top: 50px;
  }
  .assurance-text {
    padding-left: 15px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 68%;
    @include breakpoint(lg) {
      right: 64.5%;
    }
    h3 {
      font-family: "Affogato";
      color: #df4f6b;
      font-size: 26px;
      line-height: 35px;
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
      margin-bottom: -10px;
    }
    h2 {
      font-family: "Affogato";
      color: #006fcf;
      text-align: left;
      font-weight: 900;
      line-height: 30px;
      font-size: 40px;
      text-align: right;
      @include breakpoint(lg) {
        line-height: 48px;
        font-size: 50px;
      }
    }
    span {
      background-color: #dfebfe;
      padding: 0px 15px;
      border-radius: 10px;
    }
  }
}

.product-recommend-age-nozzle-mobile {
  margin-bottom: 78px;
  text-align: center;
  margin: 0 10px;
  @include breakpoint(md) {
    display: none;
  }
  img {
    width: 100%;
    margin-bottom: 70px;
    margin-top: 20px;
  }
  .assurance-text {
    text-align: left;
    h3 {
      color: #df4f6b;
      font-family: "Affogato";
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      color: #2376d9;
      font-family: "Affogato";
      font-size: 30px;
      font-weight: 900;
      line-height: 40px;
      margin: 0;
      
    }
    span {
      background-color: #dfebfe;
      padding: 0px 5px;
      border-radius: 5px;
    }
  }
}
