<div class="app-wrapper">
  <section class="change-type-dinnerwares-desktop">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <button class="melamine-dw">
            <h2>Why Kidztime AIR?</h2>
          </button>
        </div>
        <div class="ui column container grid">
          <div class="dinnerwares-description">
            <div class="property1-dinnerwares">
              <img src="img/backpack-group1.png" />
              <h3>ERGO LITE FABRIC</h3>
              <p>
                Engineered using hybrid polymer fabric to yield a backpack that
                is ergonomic yet 30% lighter
              </p>
            </div>
            <div class="property2-dinnerwares">
              <img src="img/backpack-group2.png" />
              <h3>WEATHER & WATERPROOF</h3>
              <p>
                Treated with a layer of waterproofing coat - to keep junior’s
                books & gears dry in all seasons and at all times.
              </p>
            </div>
            <div class="property3-dinnerwares">
              <img src="img/backpack-group3.png" />
              <h3>KIDZTIME POWER-UPS</h3>
              <p>
                Fully customize your child’s backpack with our assortment of
                modular pouches & dividers to fit their grades and skills.
              </p>
            </div>
            <div class="property4-dinnerwares">
              <img src="img/backpack-group4.png" />
              <h3>KIDDO’S FAVOURITE HEROES</h3>
              <p>
                Fairytales and superheroes are coming to life with KIDZTIME.
                Official Licensed Merchandise with KIDZTIME Quality Assurance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="change-type-dinnerwares-mobile">
    <div class="wrapper">
      <div class="main-container">
        <button class="melamine-dw">
          <h2>why Kidztime Air?</h2>
        </button>
        <div class="backpacks-mobile">
          <img src="img/bagpacks-mobile.png">
        </div>
        <div class="ui column container grid">
          <div class="dinnerwares-description">
            <div class="property1-dinnerwares">
              <img src="img/backpack-group1.png" />
              <h3>Ultra-Lightweight (Less than 600g)</h3>
            </div>
            <div class="property2-dinnerwares">
              <img src="img/backpack-group2.png" />
              <h3>Weather & Waterproofed</h3>
            </div>
            <div class="property3-dinnerwares">
              <img src="img/backpack-group3.png" />
              <h3>Kidztime Power-ups</h3>
            </div>
            <div class="property4-dinnerwares">
              <img src="img/backpack-group4.png" />
              <h3>Kiddo’s Favourite Heroes</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
