footer {
  position: relative;
  background-color: #fcfcfc;
  padding-bottom: 60px;
  @include breakpoint(lg) {
    padding-bottom: 80px;
  }
  .kidztime-bg-container {
    position: relative;
    height: 260px;
    overflow: hidden;
    z-index: 10;
    @include breakpoint(xxl) {
      height: auto;
    }
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #df4f6b;
      width: 238px;
      height: 70px;
      z-index: 15;
      font-family: "Affogato";
      font-style: normal;
      font-weight: 900;
      font-size: 26.6px;
      line-height: 36px;
      text-transform: uppercase;
      color: #fff;
      border: 0;
      border-radius: 30px;
      outline: 0;
    }
    .kidztime-bg {
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 130px), -50%);
      width: 1560px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: transparent;
      list-style-type: none;
      display: block;
      @include breakpoint(xxl) {
        width: 100%;
        position: static;
        transform: translate(0, 0);
      }
      ul {
        white-space: nowrap;
      }
      li {
        width: 260px;
        box-sizing: content-box;
        display: inline-block;
        margin: 0;
        padding: 0;
        @include breakpoint(xxl) {
          width: 16.667%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .footer-background-container {
    position: relative;
  }
  .footer-background {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    img {
      width: 100%;
    }
  }
  h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    white-space: normal;
    margin: 0;
    font-family: Affogato;
    @include breakpoint(xl) {
      white-space: nowrap;
      line-height: 32px;
      margin: 25px 0 8px 0;
    }
  }
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #fff;
    margin-bottom: 23px;
  }
  .footer-container {
    background-image: url('/img/footer-background.png')
  }
  .footer-description {
    z-index: 1;
    position: relative;
    padding-bottom: 45px !important;
    text-align: center;
    img {
      height: 110px;
      @include breakpoint(lg) {
        height: 110px;
      }
      @include breakpoint(xl) {
        height: 180px;
      }
      @include breakpoint(xxl) {
        height: 225px;
      }
    }
    h3 {
      letter-spacing: -1.09px;
    }
    p {
      letter-spacing: -0.82px;
    }
    .email-sent {
      white-space: nowrap;

      input {
        text-transform: uppercase;
        width: 150px;
        height: 48px;
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
        border: 0;
        border-radius: 30px;
        padding-left: 15px;
        outline: 0em;
        color: #fff;
        font-family: "Affogato";
        font-weight: 900;
        font-size: 14px;
        @include breakpoint(xl) {
          width: 200px;
          padding-left: 30px;
          font-size: 19px;
        }
      }
      input::placeholder {
        color: #fff;
        font-family: "Affogato";
        font-size: 14px;
        font-weight: 900;
        @include breakpoint(xl) {
          font-size: 19px;
        }
      }
      button {
        display: inline-block;
        position: relative;
        left: -45px;
        width: 140px;
        outline: none;
        cursor: pointer;
        color: #2d2866;
        box-shadow: 10px 7px 22px rgba(67, 76, 51, 0.41);
      }
    }

    button {
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      width: 150px;
      height: 48px;
      background: #fff;
      border-radius: 30px;
      font-family: "Affogato";
      font-size: 14px;
      font-weight: 900;
      line-height: 19px;
      text-align: center;
      border: 0;
      color: #2d2866;
      box-shadow: 10px 7px 22px rgba(67, 76, 51, 0.41);
      @include breakpoint(xl) {
        width: 200px;
      }
    }
    .email {
      width: 25%;
      margin-top: 15px;
      @include breakpoint(lg) {
        margin-top: 30px;
      }
      @include breakpoint(xl) {
        margin-top: 65px;
      }
    }
    .buy-more {
      width: 25%;
      margin-top: 15px;
      @include breakpoint(lg) {
        margin-top: 30px;
      }
      @include breakpoint(xl) {
        margin-top: 65px;
      }
    }
    .refer-a-friend {
      width: 25%;
      margin-top: 15px;
      @include breakpoint(lg) {
        margin-top: 30px;
      }
      @include breakpoint(xl) {
        margin-top: 65px;
      }
    }
    .straw-replacement {
      width: 25%;
      margin-top: 15px;
      @include breakpoint(lg) {
        margin-top: 30px;
      }
      @include breakpoint(xl) {
        margin-top: 65px;
      }
    }
  }
  .footer-contact {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    @include breakpoint(xxl) {
      padding-top: 110px;
    }
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #2d2866;
      margin: 50px 0 10px 0;
      &:first-child {
        margin-top: 10px;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-family: "Affogato";
          color: #000000;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.15px;
        }
      }
    }
    .account-contact {
      width: 33.3%;
      padding: 25px;
      z-index: 10;
      align-self: self-start;
      @include breakpoint(xl) {
        width: 335px;
        padding: 35px;
        margin-right: 65px;
      }
      img {
        width: 100%;
        max-width: 244px;
      }
    }
    .shop-section {
      width: 33.3%;
      padding: 25px;
      z-index: 10;
      align-self: self-start;
      @include breakpoint(xl) {
        width: 335px;
        padding: 35px;
        margin-right: 20px;
      }
    }
    .about-connect {
      width: 33.3%;
      padding: 25px;
      z-index: 10;
      @include breakpoint(xl) {
        padding: 35px;
        width: calc(100% - 755px);
      }
      img {
        margin-top: 12px;
        max-width: 311px;
        margin-bottom: 8px;
        width: 100%;
      }
      .footer-brand-info {
        opacity: 0.87;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.15px;
        line-height: 24px;
        a {
          color: #ff2020;
          text-decoration: underline;
          cursor: pointer;
          @include breakpoint(xxl) {
            display: none;
          }
        }
        .info-other {
          display: none;
          &.show-all {
            display: inline;
            @include breakpoint(xxl) {
              display: none;
            }
          }
          @include breakpoint(xxl) {
            display: inline;
            &.show-all {
              display: inline;
            }
          }
        }
      }
      .footer-copyright {
        margin-top: 18px;
        opacity: 0.87;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.15px;
        line-height: 24px;
      }
    }
    .account-contact:hover,
    //.about-connect:hover,
    .shop-section:hover {
      background: #fff;
      box-shadow: 0px 22px 54px rgba(77, 95, 111, 0.304914);
      z-index: 10;
    }
    .account-contact,
    //.about-connect,
    .shop-section {
      border-radius: 54px;
      transition: 0.3s;
    }
  }
  .footer-input-container {
    position: relative;
    input {
      width: 100%;
      border-radius: 20px;
      background-color: #eff0f4;
      border: none;
      outline: none;
      padding: 0 50px 0 20px;
      height: 41px;
    }
    img {
      width: 20px !important;
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translate(0, -50%);
      cursor: pointer;
    }
  }
  .footer-connect-section {
    a {
      display: inline-block;
      width: 60px;
      &:first-child {
        margin-right: 18px;
      }
      img {
        width: 100%;
      }
    }
  }
  .footer-shopping-regions-section {
    img {
      margin-right: 20px;
    }
  }
  .footer-mobile {
    @include breakpoint(lg) {
      display: none;
    }
  }
  .footer-desktop {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
  }
  .footer-description-mobile {
    background-color: #fcfcfc;
    position: relative;
    top: -4px;
    background-image: url('/img/footer-min-bg.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    .footer-description-container {
      padding-top: 30px;
      padding-bottom: 50px;
    }
    .footer-description-info {
      padding: 35px 10px 35px 170px;
      position: relative;
      text-align: left;
      img {
        position: absolute;
        width: 130px;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
      }
      h3 {
        line-height: 1.3;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.82px;
        margin-bottom: 10px;
      }
      p {
        line-height: 1.3;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.64px;
        opacity: 0.8;
      }
    }
  }
  .footer-links-mobile {
    background-color: #fcfcfc;
    padding: 60px 6px 0 6px;
    .footer-links-section {
      position: relative;
      border-bottom: 1px solid rgba(45, 40, 102, 0.31);
      padding-left: 6px;
      padding-bottom: 5px;
      margin-bottom: 13px;
      .footer-links-title {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        height: 30px;
        border-left: 4px solid #2d2866;
        padding-left: 9px;
        line-height: 30px;
      }
      .footer-toggle-icon {
        position: absolute;
        top: 4px;
        right: 26px;
        width: 17px;
        img {
          width: 100%;
        }
      }
      .footer-links {
        padding: 15px 15px 8px 15px;
        a {
          color: #000;
          display: block;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.14px;
          line-height: 24px;
          margin-bottom: 5px;
        }
      }
    }
    .footer-order-section {
      padding: 12px 6px 20px 6px;
      border-bottom: 1px solid rgba(45, 40, 102, 0.31);
      .footer-order-title {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 15px;
        padding-bottom: 6px;
      }
      .footer-input-container {
        position: relative;
        input {
          width: 100%;
          border-radius: 20px;
          background-color: #eff0f4;
          border: none;
          outline: none;
          padding: 0 50px 0 20px;
          height: 41px;
        }
        img {
          width: 20px !important;
          position: absolute;
          top: 50%;
          right: 25px;
          transform: translate(0, -50%);
          cursor: pointer;
        }
      }
    }
    .section-title {
      color: #2d2866;
      font-size: 24px;
      font-weight: 800;
    }
    .footer-shipping-section {
      padding-top: 65px;
      text-align: center;
      .section-title {
        margin-bottom: 20px;
      }
      a {
        display: inline-block;
        width: 56px;
        &:first-child {
          margin-right: 25px;
        }
        img {
          width: 100%;
        }
      }
    }
    .footer-connect-us-section {
      margin-top: 40px;
      text-align: center;
      .section-title {
        margin-bottom: 18px;
      }
      a {
        display: inline-block;
        width: 59px;
        &:first-child {
          margin-right: 23px;
        }
        img {
          width: 100%;
        }
      }
    }
    .footer-brand-section {
      margin-top: 100px;
      text-align: center;
      .section-title {
        margin-bottom: 18px;
      }
      .footer-brand-info {
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.15px;
        line-height: 24px;
        padding: 0 12px 35px 12px;
        a {
          color: #ff2020;
          text-decoration: underline;
        }
      }
      .footer-brand-countries {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.44px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 35px;
      }
      .footer-copyright {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.15px;
        line-height: 24px;
      }
    }
  }
}
