<div class="app-wrapper">
  <footer>
    <div class="kidztime-bg-container">
      <ul class="kidztime-bg">
        <li><img src="/img/kidstime.png" /></li><li><img src="/img/kidstime2.png" /></li><li><img src="/img/kidstime.png" /></li><li><img src="/img/kidstime2.png" /></li><li><img src="/img/kidstime.png" /></li><li><img src="/img/kidstime2.png" /></li>
      </ul>
      <button>@kidztime</button>
    </div>
    <div class="footer-desktop">
      <div class="footer-background-container">
        <div class="footer-background">
          <img src="img/footer-background.png" />
        </div>
      </div>
      <div class="wrapper">
        <div class="main-container">
          <div class="ui column container grid footer-description">
            <div class="email">
              <img src="img/party.png" />
              <h3>Get latest news and special offers</h3>
              <p>Sing up with Kidztime. Get $3<br> off your first purchase</p>
              <div class="email-sent">
                <input type="email" placeholder="your e-mail" />
                <button>
                  subscribe
                </button>
              </div>
            </div>
            <div class="buy-more">
              <img src="img/present.png" />
              <h3>Buy more. Save more</h3>
              <p>
                Buying in bulk? 30% off above<br> 10 item in a single purchase.
              </p>
              <button>
                get started
              </button>
            </div>
            <div class="refer-a-friend">
              <img src="img/people.png" />
              <h3>Refer a friend</h3>
              <p>
                Give $5 off. Get $5 off. Like our<br> stuff? Tell your friends too!
              </p>
              <button>Start referring</button>
            </div>
            <div class="straw-replacement">
              <img src="img/drink.png" />
              <h3>Kidztime Straw Replacement</h3>
              <p>Get your replacement straws<br> for Kidztime Bottles</p>
              <button>
                Replace Now
              </button>
            </div>
          </div>
          <div class="ui column container grid">
            <div class="footer-contact">
              <div class="account-contact">
                <img src="img/logo-footer.png" />
                <h3>Customer Support</h3>
                <ul>
                  <li><a href="account-order-member.html">Account & Order History</a></li>
                  <li><a href="referrals.html">Kidztime Referral</a></li>
                  <li><a href="benefits.html">Kidztime Benefits</a></li>
                  <li><a href="contact-us-faq.html">FAQ</a></li>
                </ul>
                <h3>Contact US</h3>
                <ul>
                  <li><a>Tel: +65 6553 3133</a></li>
                  <li><a>Email: Enquiry@kidztime.com</a></li>
                </ul>
                <h3>Track your order</h3>
                <div class="footer-input-container">
                  <input data-ng-model="searchOrder"/>
                  <img src="/img/footer-search-icon.png"  data-ng-click="searchOrderHandler()"/>
                </div>
              </div>
              <div class="shop-section">
                <h3>Shop with us</h3>
                <ul>
                  <li><a href="water-bottels.html">Water Bottles</a></li>
                  <li><a href="dinnerwares.html">Dinnerwares</a></li>
                  <li><a href="bag-page.html">School Bags</a></li>
                  <li><a>Accessories & Gears</a></li>
                  <li><a>Sales & Clearance</a></li>
                </ul>
                <h3>Find products:</h3>
                <div class="footer-input-container">
                  <input data-ng-model="searchProduct"/>
                  <img src="/img/footer-search-icon.png" data-ng-click="searchProductHandler()"/>
                </div>
                <h3>Connect with us</h3>
                <div class="footer-connect-section">
                  <a href="https://www.facebook.com/"><img src="img/facebook.png" /></a>
                  <a href="https://www.instagram.com/"><img src="img/instagram.png" /></a>
                </div>
                <h3>Shopping Regions</h3>
                <div class="footer-shopping-regions-section">
                  <img src="img/flaticon1.png" />
                  <img src="img/flaticon2.png" />
                </div>
              </div>
              <div class="about-connect">
                <h3>The Kidtime Brand</h3>
                <img src="img/kidztime-brand.png" />
                <div class="footer-brand-info" data-ng-init="showAll = false">
                  Kidztime is a Singapore home grown one-stop concept brand for pre-school back-to-school merchandise. Our unique and quality products will get your child prepped, ready and excited to go to school! Kidztime is the school merchandise partner of all major pre-school character and cartoon brands, including Marvel, Disney,  Nickolodeon, Universal Studios and many more. There’s a product at our store for every child! We retail all types of school supplies to get your child ready for another academic year. <a data-ng-click="showAll = true" data-ng-show="!showAll">See More</a><span class="info-other" data-ng-class="{ 'show-all': showAll }">We offer school bags, school accessories, dinnerware, water bottles and plush toys with various popular cartoon characters. The best part is that all our products are of top-notched quality and are built to last. Make your children feel like the coolest kids on the block with our unique and funky character school merchandise.</span>
                </div>
                <div class="footer-copyright">© 2020 Kidztime. All rights reserved</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-mobile">
      <div class="footer-description-mobile">
        <div class="footer-description-container">
          <div class="footer-description-info">
            <h3>Get latest news and special offers</h3>
            <p>Sing up with Kidztime. Get $3 off your first purchase</p>
            <img src="img/party-mobile.png" />
          </div>
          <div class="footer-description-info">
            <h3>Buy more. Save more</h3>
            <p>
              Buying in bulk? Customise your own bundle & save up to 30%!
            </p>
            <img src="img/present-mobile.png" />
          </div>
          <div class="footer-description-info">
            <h3>Refer a friend</h3>
            <p>
              Like our stuff? Tell a friend to recieve $5 off for you both!
            </p>
            <img src="img/people-mobile.png" />
          </div>
          <div class="footer-description-info">
            <h3>Kidztime Straw Replacement</h3>
            <p>Request a replacement straw for your Kidztime Bottles!</p>
            <img src="img/drink-mobile.png" />
          </div>
        </div>
      </div>
      <div class="footer-links-mobile">
        <div class="footer-links-section" data-ng-init="customerLinksOpened = false">
          <div class="footer-links-title">Customer Support</div>
          <div class="footer-toggle-icon">
            <img src="/img/icon-toggle-arrow.png" data-ng-click="customerLinksOpened = !customerLinksOpened"/>
          </div>
          <div class="footer-links" data-ng-show="customerLinksOpened">
            <a href="account-order-member.html">Account & Order History</a>
            <a href="referrals.html">Kidztime Referrals</a>
            <a href="benefits.html">Kidztme Benefits</a>
            <a href="contact-us-faq.html">FAQ</a>
          </div>
        </div>
        <div class="footer-links-section" data-ng-init="contactLinksOpened = false">
          <div class="footer-links-title">Contact Us</div>
          <div class="footer-toggle-icon">
            <img src="/img/icon-toggle-arrow.png" data-ng-click="contactLinksOpened = !contactLinksOpened"/>
          </div>
          <div class="footer-links" data-ng-show="contactLinksOpened">
            <a>Tel: +65 6553 3133</a>
            <a>Email: Enquiry@kidztime.com</a>
          </div>
        </div>
        <div class="footer-links-section" data-ng-init="shopLinksOpened = false">
          <div class="footer-links-title">Shop With Us</div>
          <div class="footer-toggle-icon">
            <img src="/img/icon-toggle-arrow.png" data-ng-click="shopLinksOpened = !shopLinksOpened"/>
          </div>
          <div class="footer-links" data-ng-show="shopLinksOpened">
            <a href="water-bottels.html">Water Bottles</a>
            <a href="dinnerwares.html">Dinnerwares</a>
            <a href="bag-page.html">School Bags</a>
            <a>Accessories & Gears</a>
            <a>Sales & Clearance</a>
          </div>
        </div>
        <div class="footer-order-section">
          <div class="footer-order-title">Track your order</div>
          <div class="footer-input-container">
            <input data-ng-model="searchOrder"/>
            <img src="/img/footer-search-icon.png" data-ng-click="searchOrderHandler()"/>
          </div>
        </div>
        <div class="footer-shipping-section">
          <div class="section-title">Shopping Region</div>
          <div>
            <a><img src="img/flaticon1.png" /></a>
            <a><img src="img/flaticon2.png" /></a>
          </div>
        </div>
        <div class="footer-connect-us-section">
          <div class="section-title">Connect with US</div>
          <div>
            <a href="https://www.facebook.com/"><img src="img/facebook.png" /></a>
            <a href="https://www.instagram.com/"><img src="img/instagram.png" /></a>
          </div>
        </div>
        <div class="footer-brand-section">
          <div class="section-title">The Kidztime Brand</div>
          <div class="footer-brand-info" data-ng-init="showAll = false">
            Kidztime is a Singapore home grown one-stop concept brand for pre-school back-to-school merchandise. Our unique and quality products will get your child prepped, ready and excited to go to school! Kidztime is the school merchandise partner of all major pre-school character and cartoon brands, including Marvel, Disney,  Nickolodeon, Universal Studios and many more. <a data-ng-click="showAll = true" data-ng-show="!showAll">See More</a><span data-ng-show="showAll">There’s a product at our store for every child! We retail all types of school supplies to get your child ready for another academic year. We offer school bags, school accessories, dinnerware, water bottles and plush toys with various popular cartoon characters. The best part is that all our products are of top-notched quality and are built to last. Make your children feel like the coolest kids on the block with our unique and funky character school merchandise.</span>
          </div>
          <div class="footer-brand-countries">SINGAPORE | MALAYSIA</div>
          <div class="footer-copyright">© 2020 Kidztime. All rights reserved</div>
        </div>
      </div>
    </div>
  </footer>
</div>
