<div class="forgot-password-popup">
    <popup data-name="popupName">
        <div class="forgot-password-popup__container">
            <div class="forgot-password-popup__content">
                <div class="forgot-password-popup__title">Password Request</div>
                <div class="create-account-popup__separator"></div>
                <ng-container ng-if="!isSubmitted">
                    <div class="forgot-password-popup__separator"></div>
                    <div class="forgot-password-popup__message">Email</div>
                    <input class="forgot-password-popup__input" data-ng-model="form.eamil" placeholder="name@email.com"/>
                    <button class="forgot-password-popup__button forgot-password-popup__button_color_login"
                            data-ng-click="passwordResetRequest()">REQUEST</button>
                </ng-container>
                <ng-container ng-if="isSubmitted">
                    <div class="forgot-password-popup__dispatched">
                        <img src="/img/password-reset-dispatched.png" alt="">
                    </div>
                    <div>Password Instruction Dispatched. An email will password reset instruction has ben sent to the email address you provided. It will arrive in less than a few minutes. Please remember to check your junk/spam folders.</div>
                </ng-container>
                <div class="forgot-password-popup__separator forgot-password-popup__separator_margin-bottom"></div>
                <div class="forgot-password-popup__message forgot-password-popup__message_new-user">New here?</div>
                <button class="forgot-password-popup__button forgot-password-popup__button_color_new-user"
                        data-ng-click="createAccount()">New User</button>
            </div>
            <button class="forgot-password-popup__close-btn"
                    data-ng-click="close()"></button>
        </div>
    </popup>
</div>
