<div class="app-wrapper">
  <section class="bottle-material-matters-desktop" ng-show="activeView === 'sport'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="sixteen wide column">
            <h2>MATERIAL MATTERS</h2>

            <div class="description-bottle-part">
              <img src="img/bottle-structure.png" />
              <div class="ui column container grid">
                <!-- <div class="two wide column"></div> -->
                <div class="description-part1">
                  <h3>Korean Ecozen Plastic</h3>
                  <p>Stronger, Lighter, Eco-friendly.</p>
                </div>
                <div class="description-part2">
                  <h3>Bottle Lock</h3>
                  <p>Leak and Spill proof.</p>
                </div>
                <div class="description-part3">
                  <h3>Straw / Nozzle</h3>
                  <p>Select the best fit cap.</p>
                </div>
                <div class="description-part4">
                  <h3>Hygiene cover</h3>
                  <p>Keep’em grime and dirt free.</p>
                </div>
              </div>
            </div>
            <div class="mix-match-part">
              <div class="ui column container grid">
                <div class="three wide column"></div>
                <div class="ten wide column">
                  <img src="img/material-matter-icon.png" />
                  <h2>MIX & MATCH</h2>
                  <p>
                    Customize your bottle by matching your favorite color caps
                    which is nice because everyone likes choices.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="img/mix-match-img.png" />
  </section>

  <section class="bottle-material-matters-mobile" ng-show="activeView === 'sport'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <h2>MIX & MATCH</h2>
          <p>
            Customize your bottle by matching your favorite color caps…which is
            nice because everyone likes choices.
          </p>

        </div>
      </div>
    </div>
    <img src="img/mix-match-bg-mobile.png">
  </section>
</div>
