<div>
  <div class="app-wrapper">
    <div class="header-cart">
      <div class="wrapper">
        <div class="logo-panel">
          <div class="main-container">
            <div class="logo-padding">
              <div class="logo-panel-container">
                <div class="logo">
                  <img src="img/logo-cart.png" />
                </div>
                <div class="title">
                  <img src="img/title-cart.png" />
                  <h2>Free shipping above $30</h2>
                </div>
                <div class="contact">
                  <div class="email">
                    <img src="img/email-cart.png" />
                    <p>enquiry@kidztime.com</p>
                  </div>
                  <div class="number">
                    <img src="img/phone-cart.png" />
                    <p>+65 6553 3133</p>
                  </div>
                  <div class="sign-in" data-ng-click="openSignIn()">
                    <img src="img/sign-in-cart.png" />
                    <p>sign in</p>
                  </div>
                  <div class="cart">
                    <img src="img/cart-header-img.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="ui fluid container grid">
            <div class="row header-content">
              <div class="nav-panel">
                <a class="item" href="bag-page.html">Backpack</a>
                <a class="item" href="dinnerwares.html">Dinnerwares</a>
                <a class="item" href="water-bottels.html">Water Bottles</a>
                <a class="item">School Gears</a>
                <a class="item">SALES</a>
                <a class="item">Characters</a>
                <div class="search">
                  <img src="img/search-cart-desktop.png" />
                  <input type="search" name="searchCart" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-line"></div>
      </div>
    </div>
    <div class="header-cart-mobile">
      <div class="wrapper">
        <div class="title">
          <img src="img/title-cart.png" />
          <h2>Free shipping above $30</h2>
        </div>
        <div class="main-container">
          <div class="ui fluid container grid">
            <div class="row header-content">
              <div class="logo-panel">
                <div class="mobile-menu" ng-click="menuOpened = !menuOpened">
                  <img src="img/icon-mobile-menu.png" />
                </div>
                <div class="logo">
                  <img src="img/logo-mobile-cart.png" />
                </div>
                <div class="contact">
                  <div class="search">
                    <img src="img/search-cart.png" />
                  </div>
                  <div class="cart">
                    <img src="img/cart-mobile.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-nav-menu" ng-show="menuOpened">
    <div class="header-cart-mobile">
      <div class="wrapper">
        <div class="title">
          <img src="img/title-cart.png" />
          <h2>Free shipping above $30</h2>
        </div>
        <div class="main-container">
          <div class="ui fluid container grid">
            <div class="row header-content">
              <div class="logo-panel">
                <div class="mobile-menu" ng-click="menuOpened = !menuOpened">
                  <img src="img/icon-mobile-menu.png" />
                </div>
                <div class="logo">
                  <img src="img/logo-mobile-cart.png" />
                </div>
                <div class="contact">
                  <div class="search">
                    <img src="img/search-cart.png" />
                  </div>
                  <div class="cart">
                    <img src="img/cart-mobile.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-panel">
      <a class="item" href="bag-page.html">Backpack</a>
      <a class="item" href="dinnerwares.html">Dinnerwares</a>
      <a class="item" href="water-bottels.html">Water Bottles</a>
      <a class="item">School Gears</a>
      <a class="item">SALES</a>
      <a class="item">Characters</a>
    </div>
  </div>
  <login-popup></login-popup>
  <create-account-popup></create-account-popup>
  <forgot-password-popup></forgot-password-popup>
</div>
