<div class="app-wrapper">
  <section class="product-assurance-sport-desktop" ng-show="activeView === 'sport'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="assurance-img">
            <img src="img/sport-bottels-assurance.png" />
          </div>
          <div class="assurance-text">
            <h3>KIDZTIME PRODUCT ASSURANCE</h3>
            <h2>When it comes to safety, we err to the side of caution.</h2>
            <p>
              All the Kidztime water bottle material are compliant to the
              highest product & food safety standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-assurance-sport-mobile" ng-show="activeView === 'sport'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="assurance-text">
            <h3>KIDZTIME PRODUCT ASSURANCE</h3>
            <p>
              All the Kidztime water bottle material are compliant to the
              highest product & food safety standards.
            </p>
          </div>
          <div class="assurance-img">
            <img src="img/sport-bottels-assurance-mobile.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product-assurance-nozzle-desktop" ng-show="activeView === 'nozzle'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="assurance-img">
            <img src="img/assuranse-nozzle-bottle.png" />
          </div>
          <div class="assurance-text">
            <h3>KIDZTIME PRODUCT ASSURANCE</h3>
            <h2>When it comes to safety, we err to the side of caution.</h2>
            <p>
              All the Kidztime water bottle material are compliant to the
              highest product & food safety standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-assurance-nozzle-mobile" ng-show="activeView === 'nozzle'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="assurance-text">
            <h3>KIDZTIME PRODUCT ASSURANCE</h3>
            <p>
              All the Kidztime water bottle material are compliant to the
              highest product & food safety standards.
            </p>
          </div>
          <div class="assurance-img">
            <img src="img/assurance-nozzle-mobile.png" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="product-assurance-sipper-desktop" ng-show="activeView === 'sipper'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="assurance-img">
            <img src="img/assurance-sipper-desktop.png" />
          </div>
          <div class="assurance-text">
            <h3>KIDZTIME PRODUCT ASSURANCE</h3>
            <h2>When it comes to safety, we err to the side of caution.</h2>
            <p>
              All the Kidztime water bottle material are compliant to the
              highest product & food safety standards.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-assurance-sipper-mobile" ng-show="activeView === 'sipper'">
    <div class="wrapper">
      <div class="main-container">
        <div class="ui column container grid">
          <div class="assurance-text">
            <h3>KIDZTIME PRODUCT ASSURANCE</h3>
            <p>
              All the Kidztime water bottle material are compliant to the
              highest product & food safety standards.
            </p>
          </div>
          <div class="assurance-img">
            <img src="img/assurance-sipper-mobile.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
