<div class="app-wrapper">
    <div class="bamboo-lunch">
        <div class="bamboo-lunch__wrapper">
            <div class="bamboo-lunch__wrapper_img">
                <img class="mobile-bamboo-img" src="/img/Bamboo_Lunch_Box-01.png" alt="">
            </div>
            <div class="bamboo-lunch__wrapper_text">
                <p class="bamboo-lunch__wrapper_text_title">BAMBOO LUNCH BOX</p>
                <p class="bamboo-lunch__wrapper_text_under-title">
                    Pack to go kiddo’s lunch with our eco-green lunch box.<br>
Made with bamboo fibre & leak resistant.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
        </div>
    </div>
    <div class="bamboo-lunch__wrapper_text tablet">
        <p class="bamboo-lunch__wrapper_text_title">BAMBOO LUNCH BOX</p>
        <p class="bamboo-lunch__wrapper_text_under-title">
            Pack to go kiddo’s lunch with our eco-green lunch box.<br>
Made with bamboo fibre & leak resistant.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
