<div class="app-wrapper">
    <div class="bamboo-lunch-box">
        <div class="bamboo-lunch-box__wrapper">
            <div class="bamboo-lunch-box__wrapper_img">
                <img src="/img/Bamboo_Lunch_Box-01.png" alt="">
            </div>
            <div class="bamboo-lunch-box__wrapper_text">
                <p class="bamboo-lunch-box__wrapper_text_title">BAMBOO LUNCH BOX</p>
                <p class="bamboo-lunch-box__wrapper_text_under-title">
                    Pack to go kiddo's lunch with our eco-green lunch box.<br>
            Made with bamboo fibre & leak
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
        </div>
    </div>
    <div class="bamboo-lunch-box__wrapper_text tablet">
        <p class="bamboo-lunch-box__wrapper_text_title under-tablet-title">BAMBOO LUNCH BOX</p>
        <p class="bamboo-lunch-box__wrapper_text_under-title under-tablet-text" id="under-tablet-title201">
            Pack to go kiddo's lunch with our eco-green lunch box.<br>
            Made with bamboo fibre & leak
        </p>
        <a href="#" class="shop-now under-tablet-shop-now">shop now</a>
    </div>
</div>
