<div class="app-wrapper">
    <div class="decorate-it">
        <div class="decorate-it__wrapper">
            <div class="decorate-it__wrapper_text">
                <p class="decorate-it__wrapper_text_title">
                    Decorate It
                    Yourselves!
                </p>
                <p class="decorate-it__wrapper_text_under-title">
                    Water-proof, stick-on kit that works on any surface. <br>
                    Be your own picasso & fill up your gears with <br>
                    your own design
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>

            <div class="decorate-it__wrapper_img">
                <img src="/img/decorate-it.png" alt="">
            </div>
        </div>
    </div>

    <div class="decorate-it__wrapper_text tablet">
        <p class="decorate-it__wrapper_text_title">
            Decorate It
            Yourselves!
        </p>
        <p class="decorate-it__wrapper_text_under-title">
            Water-proof, stick-on kit that works on any surface. <br>
            Be your own picasso & fill up your gears with <br>
            your own design
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
