<div class="purchase-popup" data-ng-if="opened" data-ng-init="initOverlay()">
  <div class="purchase-popup-container">
    <img class="thanks-image" src="/img/purchase-popup-thanks.png">
    <div class="purchase-title">Thank you!</div>
    <div class="purchase-description">Thank you for your purchasing.<br>
      It will be delivered within 3-4 working days. Please contact us if you have any question.</div>
    <div class="purchase-footer-separator"></div>
    <div class="purchase-footer">
      <img class="desktop" src="/img/purchase-popup-invite.png">
      <img class="mobile" src="/img/purchase-popup-invite-mobile.png">
      <div class="purchase-footer-info">Invite friends and earn $5 Per invite!</div>
      <button class="purchase-learn-more" data-ng-click="learnMore()">Learn more</button>
    </div>
  </div>
</div>
