<div class="app-wrapper">
  <div class="poster-dinnerwares-mealtime">
    <img class="melamine-desktop" src="img/backpack-push-toys-bg.png" />
    <div class="wrapper">
      <div class="main-container">
        <div class="poster-desktop">
          <div class="title">
            <h1>Kidztime Air Backpacks</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-mobile">
      <div class="type-bottle">
        <img src="img/backpack-push-toys-bg-mobile.png" />
      </div>
      <div class="title">
        <h1>Kidztime</h1><h1>Air Backpack</h1>
      </div>
    </div>
  </div>
</div>
