.poster-dinnerwares-mealtime {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  background-color: #c7dcff;
  text-align: center;
  font-family: "Affogato";
  overflow: hidden;
  @include breakpoint(md) {
    margin-bottom: 70px;
    padding-top: 71px;
  }
  .melamine-desktop {
    width: 100%;
    display: none;
    margin-bottom: -25px;
    @include breakpoint(md) {
      display: block;
    }
  }
  .poster-desktop {
    display: none;
    @include breakpoint(md) {
      display: block;
    }
    .title {
      position: absolute;
      left: 85px;
      top: 10%;
      width: 49%;
      display: inline-block;
      text-align: left;
      vertical-align: top;
      h1 {
        color: #232521;
        font-family: "Affogato";
        font-size: 36px;
        font-weight: 900;
        line-height: 55px;
        text-transform: uppercase;
        padding-top: 120px;
        @include breakpoint(lg) {
          font-size: 50px;
          line-height: 70px;
          padding-top: 200px;
        }
        @include breakpoint(xl) {
          font-size: 70px;
          line-height: 90px;
          padding-top: 226px;
        }
        @include breakpoint(xxl) {
          font-size: 83px;
          line-height: 110px;
        }
      }
    }
  }
  .poster-mobile {
    background-color: #c7dcff;
    position: relative;
    overflow: hidden;
    @include breakpoint(md) {
      display: none;
    }
    .type-bottle {
      margin-top: 41px;
      @include breakpoint(sm) {
        margin-top: 71px;
      }
      @include breakpoint(md) {
        margin-top: 41px;
      }
      img {
        width: 100%;
        margin-bottom: -5px;
      }
    }
    .title {
      position: absolute;
      top: 60%;
      left: 33%;
      white-space: nowrap;
      h1 {
        color: #232521;
        font-family: "Affogato";
        font-size: 30px;
        font-weight: 900;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}

