
@font-face {
    font-family: 'Affogato';
    src: url('../fonts/webfont/Affogato-Black.eot');
    src: url('../fonts/webfont/Affogato-Black.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/webfont/Affogato-Black.woff') format('woff'),
         url('../fonts/webfont/Affogato-Black.woff2') format('woff2'),
         url('../fonts/webfont/Affogato-Black.ttf')  format('truetype'),
         url('../fonts/webfont/Affogato-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Affogato';
    src: url('../fonts/webfont/Affogato-Bold.eot');
    src: url('../fonts/webfont/Affogato-Bold.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/webfont/Affogato-Bold.woff') format('woff'),
         url('../fonts/webfont/Affogato-Bold.woff2') format('woff2'),
         url('../fonts/webfont/Affogato-Bold.ttf')  format('truetype'),
         url('../fonts/webfont/Affogato-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Affogato';
    src: url('../fonts/webfont/Affogato-Medium.eot');
    src: url('../fonts/webfont/Affogato-Medium.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/webfont/Affogato-Medium.woff') format('woff'),
         url('../fonts/webfont/Affogato-Medium.woff2') format('woff2'),
         url('../fonts/webfont/Affogato-Medium.ttf')  format('truetype'),
         url('../fonts/webfont/Affogato-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Affogato';
    src: url('../fonts/webfont/Affogato-Regular.eot');
    src: url('../fonts/webfont/Affogato-Regular.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/webfont/Affogato-Regular.woff') format('woff'),
         url('../fonts/webfont/Affogato-Regular.woff2') format('woff2'),
         url('../fonts/webfont/Affogato-Regular.ttf')  format('truetype'),
         url('../fonts/webfont/Affogato-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Affogato';
    src: url('../fonts/webfont/Affogato-Light.eot');
    src: url('../fonts/webfont/Affogato-Light.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/webfont/Affogato-Light.woff') format('woff'),
         url('../fonts/webfont/Affogato-Light.woff2') format('woff2'),
         url('../fonts/webfont/Affogato-Light.ttf')  format('truetype'),
         url('../fonts/webfont/Affogato-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
  font-family: 'Oduda';
  src: url('../fonts/webfont/Oduda-Bold.eot');
  src: url('../fonts/webfont/Oduda-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfont/Oduda-Bold.woff') format('woff'),
  url('../fonts/webfont/Oduda-Bold.woff2') format('woff2'),
  url('../fonts/webfont/Oduda-Bold.ttf')  format('truetype'),
  url('../fonts/webfont/Oduda-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Oduda';
  src: url('../fonts/webfont/Oduda-Regular.eot');
  src: url('../fonts/webfont/Oduda-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfont/Oduda-Regular.woff') format('woff'),
  url('../fonts/webfont/Oduda-Regular.woff2') format('woff2'),
  url('../fonts/webfont/Oduda-Regular.ttf')  format('truetype'),
  url('../fonts/webfont/Oduda-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oduda';
  src: url('../fonts/webfont/Oduda-Light.eot');
  src: url('../fonts/webfont/Oduda-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfont/Oduda-Light.woff') format('woff'),
  url('../fonts/webfont/Oduda-Light.woff2') format('woff2'),
  url('../fonts/webfont/Oduda-Light.ttf')  format('truetype'),
  url('../fonts/webfont/Oduda-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.ttf');
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');
