<div class="app-wrapper">
    <div class="mini-sipper-bottle">
        <div class="mini-sipper-bottle__wrapper">
            <div class="mini-sipper-bottle__wrapper_text">
                <p class="mini-sipper-bottle__wrapper_text_title">Mini Sipper Bottle</p>
                <p class="mini-sipper-bottle__wrapper_text_under-title">
                    Tiny-weeny tots version of our top selling sipper bottle. <br>
                    Everything you like in a compact form.
                </p>
                <a href="#" class="shop-now">shop now</a>
            </div>
            <div class="mini-sipper-bottle__wrapper_img">
                <img src="/img/mini-sipper-bottle.png" alt="">
            </div>
        </div>
    </div>

    <div class="mini-sipper-bottle__wrapper_text tablet">
        <p class="mini-sipper-bottle__wrapper_text_title">Mini Sipper Bottle</p>
        <p class="mini-sipper-bottle__wrapper_text_under-title">
            Tiny-weeny tots version of our top selling sipper bottle. <br>
            Everything you like in a compact form.
        </p>
        <a href="#" class="shop-now">shop now</a>
    </div>
</div>
